# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
pkg/scriptRunner/proto/EventHookPhase.validator.pb.go
pkg/scriptRunner/proto/EventHookPhase.proto
pkg/scriptRunner/proto/EventHookPhase.pb.go
pkg/scriptRunner/proto/Data.validator.pb.go
pkg/scriptRunner/proto/Data.proto
pkg/scriptRunner/proto/Data.pb.go
pkg/scriptRunner/proto/common.validator.pb.go
pkg/scriptRunner/proto/common.proto
pkg/scriptRunner/proto/common.pb.go
